:root {
  --spacing-1: 8px;
  --spacing-2: 12px;
  --spacing-3: 16px;
  --spacing-4: 24px;
  --border-radius: 12px;
  --font-color: #323232;
  --dark-color: #4872a8;
  --light-color: #cdd2ec;
}

html {
  font-size: 16px;
  display: block;
  scroll-behavior: smooth;
  margin-top: 5px;
}

nav {
  display: flex;
  align-items: center;
  padding: var(--spacing-3) 0;
  background-color: var(--light-color);
  padding: 2%;
  border-radius: var(--border-radius);
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0 var(--spacing-3);
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: var(--dark-color);
}

html, body {
  height: 100%;
  color: var(--font-color);
}

main {
  display: block;
  padding: 1em 0 1em 0;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

section {
  display: block;
  padding: var(--spacing-3) 0;
  background-color: var(--light-color);
  padding: 2%;
  border-radius: var(--border-radius);
  margin:  1em 0 1em 0;
}

details {
  cursor: pointer;
  display: block;
  background-color: var(--light-color);
}

summary {
  list-style-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/right-arrow.svg);
}

.navigation-item {
  margin: var(--spacing-1);
}

.navigation-items {
  display: flex;
  list-style-type: none;
  padding: 0;
  align-items: center;
  margin: 0;
  margin-left: auto;
}

.about-me-container {
  display: flex;
  margin-right: var(--spacing-3);
  width: 100%;
  padding: 2%;
}

.about-me-text-container {
  display: block;
  margin-right: var(--spacing-3);
}

.portrait {
  height: 428px;
  margin-top: 10%;
  border-radius: var(--border-radius);
  flex-shrink: 0;
  margin-right: 2%;
}

.project-title h3 {
  display: inline;
}

.project-image {
  max-width: 95%;
}

#skills-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 2em;
  margin-top: var(--spacing-1);
  padding: 2%;
}

#skills img {
  width: 50px;
}

#education-container {
  display: inline-block;
  justify-content: space-around;
  padding: 2%;
}

#education img {
  width: 45%;
  margin: 5px;
}

#connect-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 2em;
  margin-top: var(--spacing-1);
  padding: 5%;
}

#connect img {
  width: 50px;
}

.fab {
  font-family: "Font Awesome 5 Brands";
}

.fab, .far {
  font-weight: 400;
}

footer {
  margin-top: auto;
  margin-bottom: 5px;
  padding: var(--spacing-2) 0;
  text-align: center;
  background-color: var(--light-color);
  border-radius: var(--border-radius);
}

@media only screen and (max-width: 800px) {
  .about-me-container {
    flex-direction: column;
  }
  nav {
    flex-direction: column;
  }
}